[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Obj/
UserSettings/
Assets/AssetStoreTools*

# Visual Studio / Rider
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crash Reports
sysinfo.txt

# Unity simulation backups and temporary runs
environment_sim_run_BackUpThisFolder_ButDontShipItWithYourGame/
Environment\ Sim_BurstDebugInformation_DoNotShip/

# Other
*.apk
*.aab
*.unitypackage
.DS_Store